/* USE THIS FILE FOR STYLING COMPONENTS! */
body {
  margin: 0;
  font-family: "Poppins", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.map-container {
  flex: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.ui-container {
  color: white;
}

.info-container {
  color: white;
}

.header {
  color: #7bafd4;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #13294b;
  text-align: center;
  font-size: 2.5rem;
  padding: 2.4rem;
  width: 100%;
  box-sizing: border-box;
}

.all-text {
  flex: 1;
  background-color: #f0f0f0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: normal;
  padding: 1rem;
  padding-top: 1rem;
  overflow: scroll;
}

.p-header {
  color: #333;
  font-weight: 800;
  font-size: 2rem;
  text-align: center;
}

.p-description {
  color: #333;
  font-size: 1rem;
  margin: 0;
  font-weight: 500;
  line-height: 1.6;
  padding-bottom: 1rem;
}

.p-details {
  padding-top: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #333;
  padding-bottom: 1rem;
}

.leaflet-popup-content {
  font-size: 1.2rem !important; /* Adjust this value as needed */
  font-family: "Arial", sans-serif; /* Optional: change the font family */
}

.university-image {
  margin-top: 1rem;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.arrow-icon {
  font-size: 2.4rem;
  color: #333;
}

.dropdown {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid #7bafd4;
  padding: 0.5rem 1rem;
  box-shadow: 0 px 8px rgab(0, 0, 0, 0.1);
}

.dropdown select {
  width: 100%; /* Full width */
  padding: 0.5rem;
  border: none; /* Remove the default border */
  border-radius: 4px; /* Rounded corners for the dropdown */
  background-color: #f0f8ff; /* Light background */
  color: #333; /* Text color */
  font-size: 1.2rem; /* Font size */
  outline: none;
}

.dropdown select:hover {
  background-color: #e6f7ff;
}

.dropdown select:focus {
  border: 2px solid #4b9cd3;
}

.university-link {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.8rem 1.5rem;
  margin: 0 3rem;
  font-size: 1.6rem;
  color: #fff;
  background-color: #4b9cd3;
  text-decoration: none;
  border-radius: 8px;
  text-align: center;
  transition:
    background-color 0.3s,
    transform 0.3s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.university-link:hover {
  background-color: #357abd;
  transform: translateY(-3px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.main {
  display: flex;
  height: 95vh;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.main-container {
  flex: 1;
  height: 100%;
  overflow-y: auto;
}

.ui-container {
  flex-basis: 32.5%; /* Adjust the width as needed */
  display: flex;
  flex-direction: column;
  background-color: red;

  color: white;
  overflow-y: auto;
  box-sizing: border-box;
}

.info-container {
  background-color: lightgray;
}
